<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="SubcriptionGroup">
      <section name="SubcriptionSection" type="QueueService.SubcriptionConfigurationSectionHandler, QueueService" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>

  <SubcriptionGroup>
    <SubcriptionSection>
      <Connection Name="QueueTest" Uri="amqp://guest:guest@david">
        <Channel Name="Canal1" QueueName="Canal1" WorkerThreadMax="2" Process="HelloWorldProcess">
          <MyConfiguration Param1="Canal1"></MyConfiguration>
        </Channel>
        <Channel Name="Canal2" QueueName="Canal2" WorkerThreadMax="2" Process="HelloWorldProcess">
          <MyConfiguration Param1="Canal2"></MyConfiguration>
        </Channel>
      </Connection>
    </SubcriptionSection>
  </SubcriptionGroup>
  
</configuration>